.header{
  background-color: rgb(217, 241, 96);
  padding: 25px;
  margin: 10px;
}
.products{
  width: 100%;
  display: flex;
}
.product{
  background-color: rgb(226, 186, 137);
  padding: 20px;
  margin: 10px;
  width: fit-content;
}
.img{
  width: 200px;
}